.main {
  width: 100%;
  height: 100%;
}
.productImageInBasket{
  width: 200px;
  /* display: hide; */
}
.name {
  font-weight: bold;
}

.priceAndQuantity {
  display: flex;
  justify-content: space-between;
}
