/* :root {
    --primary: #19B51B;
    --dark:#333;
    --light:#fff;
    --shadow:0 1px 5px rgba(104, 104, 104, 0.8);
    --font: "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
} */

input {
    box-sizing: border-box;
    border: 1px solid var(--nonactive-border);
    transition: 0.4s all ease-in-out;
}

input:hover,
input:focus,
select,
textarea {
    border: 0;
    outline: 0;
}

.InputField {
    width: 100%;
    /* max-width: 600px; */
    height: 2.2em;
    padding-left: 0.6em;
}

.Textarea {
    height: 20vh;
}

.InputField:hover {
    border: 1.5px solid var(--primary-light);
}

.InputField:focus {
    border: 1.5px solid var(--primary);
}

.Checkbox {
    /* box-sizing: border-box; */
    appearance: none;
    cursor: pointer;
    background-color: var(--light);
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    height: 20px;
    width: 20px;
    margin: 0;
}

.Checkbox:hover {
    border: 10px solid var(--primary-light);
}

.Checkbox:checked {
    border: 10px solid var(--primary);
    content: '\2714';
}

.Checkbox:checked ~ .Checkbox::after {
    /* border: 1.3px solid #3A7BD8; */
    content: '\2714';
    /* transform: rotateX(180deg); */
    padding-left: 5px;
    width: 100%;
    height: 100%;
}

.Search {
    background-color: transparent;
    width: 70%;
    min-width: 8em;
    max-width: 63vw;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--dark);
    font-size: 1.2em;
    color: var(--dark);
    transition: border-bottom 0.5s ease-in-out;
}

.Search:focus {
    border-bottom: 2px solid var(--primary);
}

.Search:hover {
    border-bottom: 2px solid var(--primary-light);
}

.Search::-webkit-search-cancel-button {
    /* background-color: red; */
    padding-left: -90px;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background-image: url("../icons/icons8_delete_50px.png");
    background-repeat: no-repeat;
    background-size: 25px;
    /* border-radius: 10px; */
    /* background: red; */
}

.Description {
    border-radius: 0 !important;
    border: 0 !important;
    width: 100%;
    height: 100%;
}

.Description:hover {
    border: 1px solid var(--primary-light);
}

.Description:focus {
    border: 1px solid var(--primary);
}

/* .InputText {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-start;
}

input[type=submit]:hover {
    background-color: #45a049;
} */








  