body {
  margin: 0;
  background: rgba(39, 2, 2, 0.11);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #19B51B;
  --primary-light: #6CCF6D;
  --background-primary: #ddd;
  --nonactive-border: #E8E8E8;
  --gray: #D1D1D1;
  --dark:#333;
  --light:#fff;
  --succes: #19B51B;
  --danger: rgb(230, 36, 36);
  --shadow:0 1px 5px rgba(104, 104, 104, 0.8);
  --font-family-sans-serif: "Montserrat", "Roboto", Helvetica, Arial, sans-serif;
  --header-height: 10vh;
}